.dialog-window
  padding: 0
  margin-bottom: 10px
  width: 100%
  display: block

  &__button
    background-color: white
    width: 100%
    margin-top: 20px
    font-size: 20px
    height: 45px
    font-weight: 700
    border-width: thin
    cursor: pointer

  &__close
    background-color: white
    border: none
    padding: 0
    margin-left: auto
    display: block
    cursor: pointer

    &-icon
      height: 25px
      width: 25px
    
    