.checkout
  padding: 15px 15px 50px
  margin-top: 0

  &__container
    border-bottom: solid 2px 
    padding: 12px 0 20px
    display: flex
    justify-content: center

    &__label
      font-size: 20px
      font-weight: 400
      margin: 0

    &__price
      font-weight: 600
      font-size: 24px
      margin: 0
      padding-left: 10px
  
  &__order
    background-color: #d1cfcf
    width: 100%
    margin-top: 20px
    font-size: 20px
    padding: 5px 0
    height: 45px
    border: none
    color: black
    font-weight: 600
    cursor: pointer